body {
        {
        font-family: 'Sometimes';
        src: local('Times New Roman');
        unicode-range:
            /*upper*/
            U+41, U+43, U+45, U+47, U+49, U+4B, U+4D, U+4F, U+51, U+53, U+55, U+57, U+59,
            /*lower*/
            U+62, U+64, U+66, U+68, U+6A, U+6C, U+6E, U+70, U+72, U+74, U+76, U+78, U+7A;
    }
}